@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-2xl bg-blue-600 text-white font-medium shadow-soft
           hover:bg-blue-700 transition;
  }
  .card {
    @apply bg-white rounded-2xl shadow-soft p-5;
  }
}
